<div id="wrapper">
    <!-- sidebar kiri --> 
    <div id="sidebar">
      <div id="sidebar-wrapper">
        <div class="sidebar-title">
              <span class="text-size-40 text-loose">Smart Farm</span><br>
              <span class="text-size-18 text-grey">Smart Farm Dashboard</span>
        </div>
           <ul class="sidebar-nav">
          <li class="sidebar-close"><a href="#"><i class="fa fa-fw fa-close"></i></a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ><a routerLink="/" ><i class="fa fa-fw fa-star"></i><span>Dashboard</span></a></li>
          <li>
            <a href="#nav-dropdown1" data-toggle="collapse" aria-controls="nav-dropdown1">
              <i class="fa fa-fw fa-cog"></i><span>Sensor</span>
              <span class="sidebar-nav-arrow"><i class="fa fa-angle-down"></i></span>
            </a>
            <ul class="sidebar-nav-child collapse collapseable" id="nav-dropdown1">
              <li routerLinkActive="active"><a routerLink="/sensor"><i class="fa fa-fw fa-cogs"></i><span>Overview</span></a></li>
              <li routerLinkActive="active"> <a href="panel.html"><i class="fa fa-fw fa-cogs"></i><span>Humidity</span></a></li>
              <li><a href="modal.html"><i class="fa fa-fw fa-cogs"></i><span>Leaf Wetness</span></a></li>
              <li><a href="alert.html"><i class="fa fa-fw fa-cogs"></i><span>Moisture</span></a></li>
              <li><a href="alert.html"><i class="fa fa-fw fa-cogs"></i><span>Par</span></a></li>
              <li><a href="alert.html"><i class="fa fa-fw fa-cogs"></i><span>Rainfall</span></a></li>
              <li><a href="alert.html"><i class="fa fa-fw fa-cogs"></i><span>Soil Temperature</span></a></li>
              <li><a href="alert.html"><i class="fa fa-fw fa-cogs"></i><span>Water Level</span></a></li>
              <li><a href="alert.html"><i class="fa fa-fw fa-cogs"></i><span>Wind Direction</span></a></li>
              <li><a href="alert.html"><i class="fa fa-fw fa-cogs"></i><span>Wind Speed </span></a></li>
                                    
            </ul>
          </li>
      
          <li routerLinkActive="active"><a routerLink = "/map"><i class="fa fa-fw fa-map"></i><span>Map</span></a></li>
          
        </ul>
        <div class="sidebar-footer">
          <hr style="border-color: #DDD">
          SmartFarm @2017
        </div>
      </div>
    </div>

    <!-- panel utama -->
    <div id="main-panel">
     <router-outlet></router-outlet>

    </div>